


html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 10, 56);
  margin: 50px 0 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

h2 {
  color: white;
  font-family: 'Clash Display';
}


/* || GENERAL */

a {
  text-decoration: none;
  color: whitesmoke;
}

.btn {
  cursor: pointer;
}

#about,
#skills,
#experience,
#projects,
#contact {
  scroll-margin-top: 50px;
}


/* || HEADER */

.header {
  position: fixed;
  height: 50px;
  /* background: linear-gradient(to bottom,rgb(0, 10, 56),white); */
  background-color:rgba(0, 10, 56, 0.5);
  backdrop-filter: blur(10px);
  /* filter: blur(10px); */
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;  
  z-index: 2;
}

.left-section {
  /* background-color: #89f8ff; */
  padding-left: 20px;
  display: flex;
}

.logo {
  cursor: pointer;
}

.logo-img {
  background-color: #53e8d4;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-right: 2px;
}

.logo-text {
  /* font-family: 'Poppins'; */
  font-family: 'Burbank Big Cd Bd';
  font-size: 25px;
}

.center-section {
  width: 500px;
}

.ul {
  font-family: 'Clash Display';
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  transition: all 0.1s ;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #89f8ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover {
  color: #89f8ff;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.right-section {
  /* background-color: #89f8ff; */
  padding-right: 20px;
}


.btn-cv {
  border: 1px solid #25C4F8;
  height: 30px;
  width: 75px;
  border-radius: 15px;
  color: #53e8d4;
  background-color: transparent;
  transition: all 0.2s ease;

}

.neon:hover {
  box-shadow: 0 0 10px 1px #53e8d4;
  transition: all 0.1s ease-in;
}


@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Light.woff2') format('woff2'),
      url('fonts/ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Bold.woff2') format('woff2'),
      url('fonts/ClashDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Extralight.woff2') format('woff2'),
      url('fonts/ClashDisplay-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Regular.woff2') format('woff2'),
      url('fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Medium.woff2') format('woff2'),
      url('fonts/ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Semibold.woff2') format('woff2'),
      url('fonts/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-BlackItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Black.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Bold.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-BoldItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-ExtraBold.woff2') format('woff2'),
      url('fonts/BarlowCondensed-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-ExtraLight.woff2') format('woff2'),
      url('fonts/BarlowCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-ExtraLightItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Italic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Light.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-LightItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Medium.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-MediumItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Regular.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
      url('fonts/BarlowCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-Thin.woff2') format('woff2'),
      url('fonts/BarlowCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('fonts/BarlowCondensed-ThinItalic.woff2') format('woff2'),
      url('fonts/BarlowCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Burbank Big Cd Bd';
  src: url('fonts/BurbankBigCondensed-Bold.woff2') format('woff2'),
      url('fonts/BurbankBigCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Black.woff2') format('woff2'),
      url('fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
      url('fonts/Poppins-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.woff2') format('woff2'),
      url('fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('fonts/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('fonts/Poppins-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Italic.woff2') format('woff2'),
      url('fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Light.woff2') format('woff2'),
      url('fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-LightItalic.woff2') format('woff2'),
      url('fonts/Poppins-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Medium.woff2') format('woff2'),
      url('fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-MediumItalic.woff2') format('woff2'),
      url('fonts/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.woff2') format('woff2'),
      url('fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Thin.woff2') format('woff2'),
      url('fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
      url('fonts/Poppins-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

